body {
  margin-top: 0;
  margin-left: 0;
}

#menu-icon {
  margin-top: 1em;
  margin-left: 1em;
  width: 1.5em;
  height: 1.5em;
  position: fixed;
  cursor: pointer;
}

#container {
  margin-top: 0;
  margin-left: 0;
  width: 2px;
  height: 100%;
  background-image: url("./img/wood-texture.jpeg");
  position: fixed;
  filter: blur(2px);
  transition-duration: 0.2s;
  visibility: hidden;
  opacity: 0;
}

#sidebar-container {
  margin-top: 0;
  margin-left: 0;
  width: 250px;
  height: 100%;
  position: relative;
}

#profile-pic {
  position: fixed;
  margin-top: 8vh;
  margin-left: 80px;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
  transition-duration: 0.1s;
  visibility: hidden;
  opacity: 0;
}

#sidebar-content {
  margin-top: 30vh;
  margin-left: 0.2em;
  width: 250px;
  min-height: fit-content;
  position: fixed;
  align-items: center;
  justify-content: center;
  outline: none;
  visibility: hidden;
}

.sidebar-option {
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 245px;
  text-align: center;
  display: flex;
  cursor: pointer;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border-radius: 10px;
}

.sidebar-option:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px black;
}

#sidebar-social {
  margin-top: 85vh;
  margin-left: -0.5em;
  width: 245px;
  height: 3em;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  outline: none;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

.social-icon {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  cursor: pointer;
  outline: none;
  float: left;
  border-radius: 10%;
  transition-duration: 0.2s;
}

.social-icon:hover {
  width: 1.5em;
  height: 1.5em;
  transition-duration: 0.2s;
}


#content {
  background-color: blue;
}

@media only screen and (min-height: 900px) {
  #sidebar-content {
    margin-top: 20vh;
  }

  #sidebar-social {
    margin-top: 90vh;
  }
}
